body{
background-image: url("login-bg.jpg");
background-repeat: no-repeat;
background-size: cover;
}
#h1{
    font-family: "Big Shoulders Stencil Text", cursive;
font-size: 100px;
}
.logindiv_1,.logindiv_2{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
    text-align: center;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
.bigshoulder{
    font-family: "Big Shoulders Stencil Text", cursive;
}
#output{
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}
